<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Generar Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generar Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="asignaturaForm" (ngSubmit)="submit()">
    <!-- Nombre de la asignatura -->
    <ion-item>
      <ion-label position="floating">Nombre de la asignatura</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <!-- Descripción de la asignatura -->
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion" type="text"></ion-input>
    </ion-item>

    <!-- Botón de envío -->
    <ion-button expand="full" type="submit" [disabled]="asignaturaForm.invalid">
      Crear Asignatura
    </ion-button>
  </form>
</ion-content>
