<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Generar Código QR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="content-container">
      <h2>{{ nombre }}</h2>
      <p><strong>Profesor:</strong> {{ profesor }}</p>
      <p><strong>ID de Asignatura:</strong> {{ asignaturaId }}</p>

      <!-- Contenedor del QR -->
      <div id="qrImage" class="qr-container">
        <qr-code [value]="qrText" size="190" errorCorrectionLevel="M"></qr-code>
      </div>

      <!-- Botón para compartir -->
      <ion-button (click)="captureScreen()" expand="block" class="ion-margin-top">
        Compartir
        <ion-icon slot="end" name="share-social-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-content>
</div>
