<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesor-index"></ion-back-button>
    </ion-buttons>
    <ion-title>Generar Qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <!-- Título de la asignatura -->
    <div class="title-container">
      <ion-icon name="book-outline" class="title-icon"></ion-icon>
      <h1 class="asignatura-title">{{ asignaturaNombre }}</h1>
    </div>

    <!-- Contenedor para el código QR -->
    <div class="qr-display">
      <div id="qrImage" class="qr-container">
        <div class="qr-wrapper">
          <qr-code [value]="qrText" size="190" errorCorrectionLevel="M"></qr-code>
        </div>
      </div>
      <p class="qr-description">
        Escanea este código para registrar tu asistencia.
      </p>
    </div>

    <!-- Botones de acción -->
    <div class="actions">
      <ion-button (click)="captureScreen()" color="success" expand="block" shape="round">
        Compartir
        <ion-icon slot="end" name="share-social-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="captureScreen()" color="secondary" expand="block" shape="round">
        Descargar
        <ion-icon slot="end" name="download-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
