.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.title-icon {
  font-size: 32px;
  color: #3880ff; /* Azul de Ionic */
  margin-right: 8px;
}

.asignatura-title {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.profesor-info {
  font-size: 16px;
  color: #666;
  margin-bottom: 24px;
}

.qr-display {
  margin: 24px 0;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.qr-description {
  font-size: 14px;
  color: #444;
  margin-top: 8px;
}

.actions {
  width: 100%;
  padding: 16px;
}

ion-button {
  margin: 8px 0;
  font-size: 16px;
}

custom-header {
  --background: #003366; /* Azul oscuro */
  height: 70px; /* Tamaño moderado del header */
}

.custom-header ion-toolbar {
  --background: #003366; /* Fondo azul oscuro del toolbar */
  height: 70px; /* Altura moderada */
}

.custom-header ion-title {
  font-size: 1.5rem; /* Tamaño del texto ligeramente más grande */
  font-weight: bold;
  color: #fff; /* Texto blanco para un buen contraste */
}

.large-icon {
  font-size: 1.5rem; /* Tamaño del icono ligeramente más grande */
}

.custom-header ion-back-button {
  color: white; /* Flecha de retroceso en blanco */
}
