<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesor-index"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia Alumnos</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Asistencias</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Tabla de asistencias con estilos -->
  <div class="table-container">
    <table class="students-table">
      <thead>
        <tr>
          <th>Alumno</th>
          <th>Asignatura</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asistencia of asistencias">
          <td>{{ asistencia.alumnoNombre }} {{ asistencia.alumnoApellido }}</td>
          <td>{{ asistencia.asignaturaNombre }}</td>
          <td>{{ asistencia.fecha }}</td>
          <td>{{ asistencia.hora }}</td>
          <td>
            <ion-button color="danger" size="small" (click)="eliminarAsistencia(asistencia)">
              Eliminar
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
