<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesor-index"></ion-back-button>
    </ion-buttons>
    <ion-title>Asitencia Profesor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Estudiantes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de la tabla -->
  <div class="table-container">
    <table class="students-table">
      <thead>
        <tr>
          <th class="header-column">Nombre</th>
          <th class="header-column">Email</th>
          <th class="header-column">Fecha de Inscripción</th>
          <th class="header-column">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.name }} {{ alumno.lastname }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.fechaInscripcion | date: 'dd/MM/yyyy' }}</td>
          <td>
            <ion-button size="small" (click)="verDetalles(alumno)">
              Ver Detalles
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>