<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>Confirmar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="details-title">Detalles de Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Profesor</ion-label>
        <ion-input [value]="nombreProfesor" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Asignatura</ion-label>
        <ion-input [value]="nombreAsignatura" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-input [value]="fecha" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Hora</ion-label>
        <ion-input [value]="hora" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="success" (click)="confirmarAsistencia()">
    <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
    Confirmar Asistencia
  </ion-button>
</ion-content>
