/* Mejoras para las tarjetas de asignaturas */
ion-card {
  margin: 10px 0; /* Márgenes para separación entre tarjetas */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo del título de la asignatura */
.asignatura-titulo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Estilo del subtítulo (Profesor) */
.profesor-subtitle {
  font-size: 1.1rem;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
}

/* Estilo de los botones (eliminar y generar QR) */
.action-btn {
  color: #ffffff;
  margin-right: 10px;
  border-radius: 25px;
  min-width: 150px;
  text-align: center;
}

ion-footer {
  margin-top: 20px;
}

/* Estilo para el contenido del botón cuando está deshabilitado */
ion-button:disabled {
  opacity: 0.5;
}

/* Estilo del contenido al pasar el mouse (hover) en las tarjetas */
ion-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

custom-header {
  --background: #003366; /* Azul oscuro */
  height: 70px; /* Tamaño moderado del header */
}

.custom-header ion-toolbar {
  --background: #003366; /* Fondo azul oscuro del toolbar */
  height: 70px; /* Altura moderada */
}

.custom-header ion-title {
  font-size: 1.5rem; /* Tamaño del texto ligeramente más grande */
  font-weight: bold;
  color: #fff; /* Texto blanco para un buen contraste */
}

.large-icon {
  font-size: 1.5rem; /* Tamaño del icono ligeramente más grande */
}

.custom-header ion-back-button {
  color: white; /* Flecha de retroceso en blanco */
}